streamlit==1.32.0
pandas==2.1.4
numpy==1.26.2
qrcode==7.4.2
matplotlib==3.8.2
folium==0.14.0
streamlit-folium==0.15.1
Pillow==10.1.0
ipfshttpclient==0.8.0a2
python-dateutil==2.8.2
pydeck==0.8.1b0
protobuf==4.25.1